<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configuration of the database connection: -->
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.url">jdbc:mariadb://localhost:3306/listaDeLaCompra</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        
        <!-- Database dialect configuration: -->
        <!--<property name="dialect">org.hibernate.dialect.MariaDBDialect</property>-->

        <!-- Configuration of the SQL query display mode: -->
        <property name="show_sql">true</property>  <!-- Para que todas las sentencias que se hagan aparezcan en pantalla (como si hicieras un sout) -->

        <!-- DDL generation configuration (create, update, validate, none) -->
            <!-- create: te va a crear las tablas siempre y va a machacar si están creadas -->
            <!-- update: va a mirar si existen las tablas y si no existen las va a crear -->
            <!-- validate: va a verificar que existen y si no existen va a dar un error  -->
            <!-- none: no va a hacer nada -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Entity class mapping -->
        <mapping class="aadTrimestre2.ORM.model.Estudiante" />  <!-- donde le dices que la clase que pones va a ser a partir de la cual se va a crear la tabla -->
    </session-factory>
</hibernate-configuration>

